[tool.black]
line-length = 120
target-version = ["py311"]

[tool.isort]
profile = "black"
line_length = 120
known_first_party = ["Python", "Test", "framework"]

[tool.flake8]
max-line-length = 120
extend-ignore = ["E203", "W503", "F722", "F821"]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
follow_imports = "silent"
